body {
    background-image: url("../images/gold.jpg");
    background-repeat: repeat;
    /* background-color:lightgray; */
    margin: 0 0;
}

#container {
  background-color: #0c37f5; 
    width: 800px;
  margin: auto;
  text-align: center;
  padding: 10px;

}

.row1 {
 
    margin-top: 25px;
    padding: 20px; 
    background-color: lightgreen;
    
}

.row1b {
    background-color:  rgb(214, 183, 247);
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.row2 {
    margin-top: 0px;
     text-color: gold;
        padding: 20px; 
    background-color: #0c37f5d2;
    font-weight: bold; 
    
}

h1 {
    color: red; 
}
 p { 
     text-color: gold;
 }

.sec1 {
    background-color:lightblue;
}
.col {
    display: inline-block;
    width: 298px;
    min-height: 60px;
    vertical-align: top;
    background-color: rgb(214, 183, 247);
    text-align: center;
    font-weight: bold; 
}
.row4 {

    background-color:rgb(214, 183, 247);
    font-weight: bold; 
}

.row5 {
    margin-bottom: 40px;
     
}
.crystals {
    width: 100px;
}
.col2 {
    display: inline-block;
    font-weight: bold;
    width: 147px;
    min-height: 60px;
    vertical-align: top;
    background-color: rgb(214, 183, 247);
    text-align: center;
}

#computer {
    font-size: 30px;
    font-weight: bold;
}